<div class="form-group">
    <form action="/user/<%-data.userName%>/settings" method="POST">
        <div class="form-group">
            <label for="bio">Bio</label>
            <input
              type="bio"
              id="bio"
              name="bio"
              class="form-control"
              placeholder="Enter bio"
              value="<%= typeof bio != 'undefined' ? bio : '' %>"
            />
            <button type="submit" class="btn btn-primary btn-block">Update</button>
        </div>
    </form>
</div>
