<h2>Build Your Profile</h2>
<p>Let others get to know you with a description below.  You can also add a picture and link your other social media profiles.<a href="#">urna mollis ornare</a></p>
<div class="form-group">
  <label for="exampleTextarea">Example textarea</label>
  <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
</div>
<button type="button" class="btn btn-info">submit</button>
<p>Add your profile picture</p>
<div class="form-group">
  <label for="exampleInputFile">File input</label>
  <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
  </div>

    
  
  